<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="bacnet.views.InitView"
            icon="icons/iconBacnet.bmp"
            id="bacnet.InitView"
            name="Home"
            restorable="true">
      </view>
      <view
            class="bacnet.views.BannerView"
            icon="icons/iconBacnet.bmp"
            id="bacnet.BannerView"
            name="BannerView">
      </view>
      <view
            class="bacnet.views.InternalBrowser"
            icon="icons/iconBacnet.bmp"
            id="bacnet.InternalBrowser"
            name="Internal Browser"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="bacnet.sequenceTools.GenomicsView"
            icon="icons/ExpDesignView.bmp"
            id="bacnet.GenomicsView"
            name="Genomics">
      </view>
      <view
            allowMultiple="false"
            class="bacnet.expressionAtlas.TranscriptomicsView"
            icon="icons/ExpDesignView.bmp"
            id="bacnet.TranscriptomicsView"
            name="Transcriptomics">
      </view>
      <view
            allowMultiple="false"
            class="bacnet.expressionAtlas.ProteomicsView"
            icon="icons/ExpDesignView.bmp"
            id="bacnet.ProteomicsView"
            name="Proteomics">
      </view>
      <view
            allowMultiple="false"
            class="bacnet.sequenceTools.GeneView"
            icon="icons/mutantGene.bmp"
            id="bacnet.GeneView"
            name="Gene"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="bacnet.sequenceTools.SrnaSummaryView"
            icon="icons/mutantSrna.bmp"
            id="bacnet.SrnaSummaryView"
            name="SmallRNAs"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="bacnet.sequenceTools.SrnaView"
            icon="icons/mutantSrna.bmp"
            id="bacnet.SrnaView"
            name="SmallRNA"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="bacnet.expressionAtlas.HeatMapTranscriptomicsView"
            icon="icons/heatmap.bmp"
            id="bacnet.HeatMapTranscriptomicsView"
            name="HeatMapTranscriptomics">
      </view>
      <view
            allowMultiple="true"
            class="bacnet.expressionAtlas.HeatMapProteomicsView"
            icon="icons/heatmap.bmp"
            id="bacnet.HeatMapProteomicsView"
            name="HeatMapProteomics">
      </view>
      <view
            allowMultiple="true"
            class="bacnet.genomeBrowser.GenomeTranscriptomeView"
            icon="icons/genome/genomeView2.bmp"
            id="bacnet.GenomeTranscriptomeView"
            name="Genome Viewer">
      </view>
      <view
            allowMultiple="true"
            class="bacnet.genomeBrowser.NTerminomicsView"
            icon="icons/genome/genomeView2.bmp"
            id="bacnet.NTerminomicsView"
            name="NTerm Viewer">
      </view>
      <view
            allowMultiple="true"
            class="bacnet.views.CRISPRPredictView"
            icon="icons/ExpDesignView.bmp"
            id="bacnet.CRISPRPredictView"
            name="CRISPR PredictView">
      </view>
   </extension>
	<extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="bacnet.handler.LoadExpressionMatrixHandler"
            id="bacnet.LoadExpressionMatrixCommand"
            name="LoadExpressionMatrix">
      </command>
   </extension>
   <extension
      point="org.eclipse.equinox.http.registry.resources">
   <resource
         alias="/html"
         base-name="html">
   </resource>
</extension>
   
   

</plugin>
